@use '../../../scss/main.scss' as *;
@use '../../../scss/breakpoints/breakpoints.scss' as *;
@use '../../../scss/font/font.scss' as *;

.herobanner {
    background-image: url('/assets/images/hero-banner.png');
    height: 100dvh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;

    @include respond-to("sm") {
        height: auto;
        padding: 120px 0 60px 0;
        background-position: center;
    }

    .heroContainer {
        margin: 0 auto;
        max-width: calc(1030px + 40px);
        padding: 0 20px;
    }

    .topSpacingAlignmemnt {
        padding: 170px 0 0 0;

        @include respond-to("sm") {
            padding: 0;
        }

        .buttonCenter {
            display: flex;
            justify-content: center;

            @include respond-to("sm") {
                padding: 0 0 30px 0;
            }


            button {
                display: flex;
                align-items: center;
                gap: 10px;
                cursor: pointer;
                padding: 14px 22px;
                border: none;
                border-radius: 1000px;
                color: #FFF;
                font-size: 16px;
                font-style: normal;
                font-weight: 600;
                line-height: 20px;
                @include font-semibold;
                background: linear-gradient(145deg, #313131 -7.15%, #181818 93.46%);

                @include respond-to("sm") {
                    padding: 10px 16px;
                    font-size: 14px;
                }
            }
        }

        .buttonAlignment {
            display: flex;
            justify-content: center;
            margin: 0 auto;
            align-items: center;
            padding: 0 0 40px 0;
            flex-wrap: wrap;
            max-width: 736px;
            gap: 12px;

            @include respond-to("sm") {
                padding: 0 0 30px 0;
            }

            .iconText {
                padding: 10px 18px;
                border-radius: 100px;
                background: #F3F3F3;
                display: flex;
                align-items: center;
                gap: 6px;

                @include respond-to("sm") {
                    padding: 6px 12px;
                }

                span {
                    color: rgba(18, 18, 18, 0.70);
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 590;
                    line-height: normal;
                    text-transform: uppercase;
                    @include font-medium;

                    @include respond-to("sm") {
                        font-size: 11px;
                        text-transform: inherit;
                    }
                }

                .icon {
                    width: 20px;
                    height: 20px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50%;
                    background: #121212;

                    @include respond-to("sm") {
                        min-width: 20px;
                        min-height: 20px;
                    }

                    svg {
                        @include respond-to("sm") {
                            width: 12px;
                            height: 12px;
                        }
                    }
                }
            }
        }

        .title {
            padding: 0 0 24px 0;

            @include respond-to("md") {
                padding: 0 0 40px 0;
            }

            @include respond-to("sm") {
                padding: 0 0 30px 0;
            }

            span {
                display: block;
                color: #ADADAD;
                font-size: 22px;
                font-style: normal;
                text-align: center;
                font-weight: 700;
                line-height: 20px;
                text-transform: uppercase;
                @include font-bold;

                @include respond-to("md") {
                    font-size: 20px;
                    padding: 0 0 20px 0;
                }

                @include respond-to("sm") {
                    font-size: 18px;
                    padding: 0 0 20px 0;
                }
            }

            h1 {
                @include font-semibold;
                color: #121212;
                text-align: center;
                font-size: 72px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;

                @include respond-to("md") {
                    font-size: 48px;
                }

                @include respond-to("sm") {
                    font-size: 32px;
                    @include font-bold;
                    font-weight: 700;
                }
            }
        }
    }

    .botttomSection {
        position: absolute;
        bottom: 50px;
        left: 0;
        width: 100%;

        @include respond-to("sm") {
            position: inherit;
            bottom: 0;
            left: 0;
        }

        .bottomContainer {
            max-width: calc(1040px + 20px);
            margin: 0 auto;
            padding: 0 20px;

            p {
                color: #ADADAD;
                text-align: center;
                font-size: 18px;
                font-style: normal;
                font-weight: 510;
                margin: 0 0 32px 0;
                line-height: normal;
                @include font-medium;
            }

            .imageAlignment {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 32px;

                @include respond-to("md") {
                    flex-wrap: wrap;
                    gap: 20px;
                    justify-content: center;
                }

                @include respond-to("sm") {
                    gap: 16px;
                }

                img {
                    display: block;
                    cursor: pointer;

                    @include respond-to("sm") {
                        max-width: 80px;
                    }
                }
            }
        }
    }
}