@use '../../../scss/main.scss' as *;
@use '../../../scss/breakpoints/breakpoints.scss' as *;
@use '../../../scss/font/font.scss' as *;

.marketingSection {
    background-image: url('/assets/images/marketing.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding: 100px 0;

    @include respond-to("sm") {
        padding: 60px 0;
    }

    .buttonCenter {
        display: flex;
        justify-content: center;

        button {
            border: none;
            cursor: pointer;
            color: #FFF;
            text-align: center;
            font-size: 18px;
            font-style: normal;
            border-radius: 12px;
            background: #121212;
            font-weight: 700;
            line-height: normal;
            @include font-bold;
            padding: 18px 50px;

            @include respond-to("sm") {
                font-size: 16px;
                padding: 14px 30px;
            }
        }
    }

    .centerImage {
        display: flex;
        padding: 0 0 50px 0;
        justify-content: center;

        img {
            max-width: 682px;
            display: block;

            @include respond-to("sm") {
                width: 100%;
                max-width: 100%;
            }
        }
    }

    .text {
        padding: 0 0 50px 0;

        p {
            text-align: center;
            color: #333;
            font-size: 25px;
            font-style: normal;
            font-weight: 500;
            line-height: 40px;
            @include font-medium;

            @include respond-to("sm") {
                font-size: 16px;
                line-height: 24px;
            }
        }

        h3 {
            color: #121212;
            text-align: center;
            font-size: 35px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            @include font-semibold;
            margin: 0 0 40px 0;

            @include respond-to("sm") {
                font-size: 28px;
                margin: 0 0 16px 0;
            }

            span {
                color: #29A6B4;
            }
        }

        h2 {
            color: #121212;
            text-align: center;
            margin: 0 0 14px 0;
            font-size: 64px;
            font-style: normal;
            font-weight: 900;
            line-height: normal;
            @include font-bold;

            @include respond-to("sm") {
                font-size: 32px;
                margin: 0 0 6px 0;
            }
        }
    }
}