@use '../../../scss/main.scss' as *;
@use '../../../scss/breakpoints/breakpoints.scss' as *;
@use '../../../scss/font/font.scss' as *;

.multiPlatformDigital {
    padding: 80px 0;
    position: relative;

    @include respond-to("sm") {
        padding: 60px 0 0 0;
    }

    :global(.container-lg) {
        @include respond-to("sm") {
            padding: 0;
        }
    }


    &::before {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 400px;
        z-index: 9;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, rgba(255, 255, 255, 0.26) 38.4%, rgba(255, 255, 255, 0.45) 66.91%, #FFF 100%);
        content: '';

        @include respond-to("sm") {
            height: 300px;
        }
    }


    h2 {
        color: #898989;
        font-size: 39px;
        text-transform: uppercase;
        font-style: normal;
        text-align: center;
        font-weight: 500;
        line-height: normal;
        margin: 0 0 40px 0;
        @include font-medium;

        @include respond-to("sm") {
            font-size: 28px;
            padding: 0 20px;
        }

        span {
            @include font-semibold;
            color: #121212;
            font-weight: 600;
        }
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;

        @include respond-to("sm") {
            display: flex;
            overflow: auto;
            padding: 0 10px;
            gap: 10px;
            scrollbar-width: none;
        }

        .items {
            overflow: hidden;
            position: relative;

            @include respond-to("sm") {
                max-width: 260px;
                min-width: 260px;
                width: 260px;
            }

            .frame {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;

                img {
                    display: block;
                    width: 100%;
                    height: 100%;
                }
            }

            video {
                width: 100%;
                border-radius: 0px;
                display: block;
            }
        }
    }
}