@use '../../../scss/main.scss' as *;
@use '../../../scss/breakpoints/breakpoints.scss' as *;
@use '../../../scss/font/font.scss' as *;

.helixOrchestrationLayer {
    padding: 80px 0;
    background: linear-gradient(180deg,
            #FFFFFF 0%,
            rgba(255, 255, 255, 0.82) 50%,
            rgba(126, 198, 191, 0.3) 100%);

    position: relative;

    @include respond-to("md") {
        display: none;
    }


    .grid {
        display: grid;
        grid-template-columns: 240px 1fr 321px;
        gap: 0px;

        .items {
            position: relative;
        }

        .promptBoxRight {
            max-width: 320px;
            width: 320px;
            border-radius: 14px;
            box-shadow: 0 2.932px 12.753px 0 rgba(0, 0, 0, 0.08);
            position: relative;
            left: -40px;
            top: -10%;

            .body {
                padding: 13px 12px;
                border-radius: 0 0 14px 14px;
                border: 0.733px solid rgba(0, 0, 0, 0.06);
                background: #1E1E1E;

                p {
                    color: #fff;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 510;
                    line-height: 17.59px;
                    @include font-medium;
                }
            }

            .header {
                border-radius: 14px 14px 0 0;
                background: #F2F2F2;
                padding: 14px 17px;
                display: flex;
                align-items: center;
                gap: 5px;

                span {
                    display: block;
                    color: #525252;
                    font-size: 17.59px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 14.658px;
                    text-transform: uppercase;
                    @include font-bold;

                }
            }
        }

        .leftLineAnimation {
            position: absolute;
            top: 25%;
            right: -40%;
        }

        .rightlineAnimation {
            position: absolute;
            top: 4%;
            left: -23%;
        }

        .rightImage {
            padding: 20px 0 0 0;
            // max-width: 240px;
            width: 100%;

            video {
                width: 100%;
                height: 420px;
                display: block;
                object-fit: cover;
                border-radius: 22px;
            }
        }

        .bottomContentAlignment {
            display: flex;
            gap: 160px;
            margin-left: 11%;

            .textWhiteBox {
                max-width: 164px;
                padding: 0 0 33px 0;

                h4 {
                    color: #121212;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 510;
                    line-height: 14.579px;
                    @include font-medium;
                    margin: 0 0 8px 0;
                }

                .whiteBox {
                    padding: 11px;
                    border-radius: 10px;
                    border: 0.607px solid rgba(0, 0, 0, 0.06);
                    background: #FFF;
                    box-shadow: 0 2.43px 17.819px 0 rgba(0, 0, 0, 0.12);

                    p {
                        color: #7B7B7B;
                        font-size: 11.603px;
                        font-style: normal;
                        font-weight: 510;
                        line-height: 14.579px;
                        @include font-medium;
                    }
                }
            }
        }

        .centerBoxDesign {
            display: flex;
            justify-content: center;
            max-width: 394px;
            gap: 50px;
            margin-left: 26%;

            .single:first-child {
                padding: 20px 0 0 0;

            }

            .single {
                .textWhiteBox:first-child {
                    position: relative;
                    left: 10px;
                }

                .textWhiteBox {
                    max-width: 164px;
                    padding: 0 0 33px 0;

                    h4 {
                        color: #121212;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 510;
                        line-height: 14.579px;
                        @include font-medium;
                        margin: 0 0 8px 0;
                    }

                    .whiteBox {
                        padding: 11px;
                        border-radius: 10px;
                        border: 0.607px solid rgba(0, 0, 0, 0.06);
                        background: #FFF;
                        box-shadow: 0 2.43px 17.819px 0 rgba(0, 0, 0, 0.12);

                        p {
                            color: #7B7B7B;
                            font-size: 11.603px;
                            font-style: normal;
                            font-weight: 510;
                            line-height: 14.579px;
                            @include font-medium;
                        }
                    }
                }
            }
        }

        .promptBox {
            max-width: 260px;
            width: 260px;
            position: absolute;
            top: 0;
            right: -60%;
            border-radius: 14px;
            border: 0.733px solid rgba(0, 0, 0, 0.06);
            background: #F2F2F2;
            box-shadow: 0 2.932px 21.5px 0 rgba(0, 0, 0, 0.12);

            .body {
                padding: 13px 12px;

                p {
                    color: #7E7E7E;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 510;
                    line-height: 17.59px;
                    @include font-medium;
                }
            }

            .header {
                border-radius: 14px 14px 0 0;
                background: #1E1E1E;
                padding: 14px 17px;
                display: flex;
                align-items: center;
                gap: 5px;

                span {
                    display: block;
                    color: #ADADAD;
                    font-size: 17.59px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 14.658px;
                    text-transform: uppercase;
                    @include font-bold;

                }
            }
        }

        .leftImage {
            padding: 80px 0 0 0;

            @media (max-width: 1600px) {
                padding: 40px 0 0 0;
            }

            img {
                width: 100%;
                height: 340px;
                border-radius: 22px;
                object-fit: cover;
                display: block;

                @media (max-width: 1600px) {
                    height: 280px;
                }
            }
        }
    }

    .title {
        @media (max-width: 1600px) {
            padding: 40px 0 0 0;
        }

        h2 {
            color: #121212;
            @include font-semibold;
            font-size: 46px;
            margin: 0 0 18px 0;
            font-style: normal;
            font-weight: 600;
            text-align: center;
            line-height: normal;

            @include respond-to("md") {
                font-size: 32px;
            }
        }

        p {
            color: #7E7E7E;
            text-align: center;
            font-size: 20px;
            margin: 0 auto;
            font-style: normal;
            font-weight: 510;
            line-height: 28px;
            max-width: 489px;
            @include font-medium;
        }
    }



    .contentAlignment {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .rightAlignmentText {
            padding-right: 90px;
        }


        .switch {
            position: relative;
            display: inline-block;
            width: 80px;
            height: 40px;
        }

        .switch input {
            opacity: 0;
            width: 0;
            height: 0;
        }

        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ccc;
            -webkit-transition: .4s;
            transition: .4s;
        }

        .slider:before {
            position: absolute;
            content: "";
            height: 30px;
            width: 30px;
            left: 4px;
            bottom: 5px;
            background: white;
            -webkit-transition: .4s;
            transition: .4s;
        }

        input:checked+.slider {
            background: var(--3, linear-gradient(90deg, #29A6B4 0%, #9ED2C3 100%));

        }



        input:checked+.slider:before {
            -webkit-transform: translateX(40px);
            -ms-transform: translateX(40px);
            transform: translateX(40px);
        }

        /* Rounded sliders */
        .slider.round {
            border-radius: 34px;
        }

        .slider.round:before {
            border-radius: 50%;
        }



        h4 {
            text-align: center;
            font-size: 77.143px;
            font-style: normal;
            background: linear-gradient(180deg, #D1D1D1 0%, #C3E5E6 100%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-weight: 600;
            line-height: normal;
            @include font-semibold;
            transition: all 0.5s ease-in-out;

            @media (max-width: 1600px) {
                font-size: 50px;
            }

            &.darktext {
                background: var(--Gradient, linear-gradient(90deg, #29a6b4 0%, #9ed2c3 100%));
                -webkit-text-fill-color: #0000;
                -webkit-background-clip: text;
                background-clip: text;
            }
        }
    }

    .imageAlignment {
        position: absolute;
        bottom: 20px;
        left: 0;
        right: 0;
        display: flex;
        align-items: center;
        gap: 32px;
        padding-bottom: 20px;
        justify-content: center;
        z-index: 10;

        @media (max-width: 1600px) {
            gap: 20px;
            bottom: 10px;
            padding-bottom: 10px;
        }

        img {
            display: block;
            cursor: pointer;

            @media (max-width: 1600px) {
                height: 24px;
                width: auto;
            }
        }
    }
}


.items {
    will-change: transform, opacity;
    position: relative;
}

.helixOrchestrationLayer {
    position: relative;
    height: 300vh;
}

.stickyWrap {
    position: sticky;
    top: 0;
    height: 100vh;
    display: flex;
    align-items: center;
}

.agentLine {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 15%;
    left: 20%;
}