@use '../../../scss/main.scss' as *;
@use '../../../scss/breakpoints/breakpoints.scss' as *;
@use '../../../scss/font/font.scss' as *;

.promotionalVideos {
    padding: 80px 0 0 0;
    position: relative;

    &::before {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 400px;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, rgba(255, 255, 255, 0.26) 38.4%, rgba(255, 255, 255, 0.45) 66.91%, #FFF 100%);
        content: '';
    }

    h2 {
        color: #121212;
        font-size: 36px;
        font-style: normal;
        text-align: center;
        font-weight: 590;
        line-height: normal;
        margin: 0 0 40px 0;
        @include font-semibold;
    }

    .imagegrid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0px;
        padding: 10px 0 0 0;

        img {
            display: block;
            width: 100%;
        }
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;

        .items {
            overflow: hidden;

            video {
                width: 100%;
                display: block;
            }
        }
    }
}