@use '../../../scss/main.scss' as *;
@use '../../../scss/breakpoints/breakpoints.scss' as *;
@use '../../../scss/font/font.scss' as *;

.aiAds {
    padding: 100px 0;
    background: #121212;

    .grid {
        display: grid;
        grid-template-columns: 1fr 300px;
        gap: 20px;
        padding: 0 0 70px 0;

        .socialIconAlignment {
            p {
                color: #ADADAD;
                font-size: 14px;
                font-style: normal;
                font-weight: 700;
                line-height: 16px;
                @include font-bold;
                text-transform: uppercase;

            }

            .imageAlignment {
                display: flex;
                align-items: center;
                padding: 0 0 16px 0;

                img:first-child {
                    margin-left: 0;
                }

                img {
                    margin-left: -18px;
                    display: block;
                }
            }
        }

        .griditems:first-child {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        .text {
            h2 {
                color: #FFF;
                font-size: 46px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                max-width: 575px;
                @include font-semibold;
                margin: 0 0 18px 0;

                @include respond-to("md") {
                    font-size: 32px;
                }
            }

            .allIconText {
                .iconText {
                    display: grid;
                    grid-template-columns: 29px 1fr;
                    gap: 8px;
                    align-items: center;
                    padding: 0 0 12px 0;

                    @include respond-to("md") {
                        grid-template-columns: 24px 1fr;
                    }

                    &:last-child {
                        padding: 0;
                    }

                    img {
                        max-width: 29px;
                        height: auto;
                        display: block;

                        @include respond-to("md") {
                            max-width: 24px;
                        }
                    }

                    p {
                        color: #B6B6B6;
                        font-size: 20px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 36px;
                        @include font-medium;

                        @include respond-to("md") {
                            font-size: 18px;
                            line-height: 30px;
                        }
                    }
                }
            }
        }

        .cardBox {
            width: 100%;
            background: #282828;
            padding: 12px;
            border-radius: 24px;
            position: relative;
            overflow: hidden;

            .compareContainer {
                position: relative;
                width: 100%;
                height: 500px;
                border-radius: 20px;
                overflow: hidden;
                cursor: col-resize;
                user-select: none;

                @include respond-to("md") {
                    height: 400px;
                }

                @include respond-to("sm") {
                    height: 300px;
                }

                img,
                video {
                    width: 100%;
                    height: 100%;
                }

                .leftImage,
                .rightVideo {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }

                .rightVideo {
                    z-index: 1;
                }

                .handle {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    width: 2px;
                    background: #FFF;
                    z-index: 2;
                    pointer-events: none;

                    &::after {
                        content: '';
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        width: 40px;
                        height: 40px;
                        background: #FFF;
                        border-radius: 50%;
                        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
                        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23000' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='15 18 9 12 15 6'%3E%3C/polyline%3E%3C/svg%3E"),
                            url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23000' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='9 18 15 12 9 6'%3E%3C/polyline%3E%3C/svg%3E");
                        background-position: 5px center, 20px center;
                        background-repeat: no-repeat;
                        background-size: 15px;
                    }
                }
            }
        }
    }
}