html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  overflow-x: hidden;
  font-family:
    var(--font-sf-pro),
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Helvetica,
    Arial,
    sans-serif;
  padding: 0;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin: 0;
}

.header-container {
  max-width: calc(1040px + 40px);
  padding: 0 20px;
  margin: 0 auto;
}

.container {
  max-width: calc(1160px + 40px);
  padding: 0 20px;
  margin: 0 auto;
}

.container-lg {
  max-width: calc(1200px + 40px);
  padding: 0 20px;
  margin: 0 auto;
}

.container-xs {
  max-width: calc(1254px + 40px);
  padding: 0 20px;
  margin: 0 auto;
}

.container-xs3 {
  max-width: calc(1230px + 40px);
  padding: 0 20px;
  margin: 0 auto;
}

.container-xs2 {
  max-width: calc(1290px + 40px);
  padding: 0 20px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}
