body {
  margin: 0;
  font-family: "SF-Pro-Text-Regular";
  padding: 0;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin: 0;
}

.header-container {
  max-width: calc(1040px + 40px);
  padding: 0 20px;
  margin: 0 auto;
}

.container {
  max-width: calc(1160px + 40px);
  padding: 0 20px;
  margin: 0 auto;
}

.container-lg {
  max-width: calc(1300px + 40px);
  padding: 0 20px;
  margin: 0 auto;
}
