@use '../../../scss/main.scss' as *;
@use '../../../scss/breakpoints/breakpoints.scss' as *;
@use '../../../scss/font/font.scss' as *;

.inductriesServiced {
    background: #121212;
    padding: 100px 0;

    @include respond-to("md") {
        padding: 80px 0;
    }

    .allDataAlignment {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;

        .box {
            border-radius: 32px;
            border: 14px solid rgba(255, 255, 255, 0.07);
            backdrop-filter: blur(46.400001525878906px);
            max-width: 800px;
            position: absolute;
            max-height: 600px;
            overflow: hidden;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 9;

            @include respond-to("md") {
                max-height: 800px;
                max-width: 100%;
            }

            img {
                max-width: 100%;
                height: 100%;
                object-fit: contain;
                display: block;
                border-radius: 20px;
            }
        }

        .left,
        .right {
            display: flex;
            flex-direction: column;
            position: relative;
            z-index: 999;
            gap: 40px;
            max-width: 400px;
            width: 100%;

            @include respond-to("md") {
                gap: 30px;
                max-width: 300px;
            }

            .iconTextAlignment:nth-child(2n+1) {
                margin-left: auto;
            }

            .iconTextAlignment {
                padding: 6px 18px 6px 6px;
                border-radius: 1000px;
                border: 1px solid rgba(255, 255, 255, 0.10);
                background: rgba(255, 255, 255, 0.12);
                backdrop-filter: blur(49.099998474121094px);
                display: flex;
                align-items: center;
                gap: 10px;
                color: #FFF;
                cursor: pointer;
                width: fit-content;
                font-size: 18px;
                font-style: normal;
                font-weight: 600;
                line-height: 20px;
                @include font-semibold;
                transition: .3s ease-in-out;

                @include respond-to("md") {
                    font-size: 14px;
                    padding: 4px 12px 4px 4px;
                }

                &:hover {
                    background: var(--3, linear-gradient(90deg, #29A6B4 0%, #9ED2C3 100%));

                    .icon {
                        background: #fff;

                        path {
                            fill: #29A6B4;
                        }
                    }
                }

                .icon {
                    border-radius: 1000px;
                    border: 1px solid rgba(255, 255, 255, 0.24);
                    background: var(--2, linear-gradient(135deg, #4AB2B9 0%, #4AB2B9 100%));
                    backdrop-filter: blur(49.099998474121094px);
                    width: 48px;
                    height: 48px;
                    border-radius: 50%;
                    transition: .3s ease-in-out;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    @include respond-to("md") {
                        width: 36px;
                        height: 36px;
                    }

                    svg {
                        @include respond-to("md") {
                            width: 18px;
                            height: 18px;
                        }
                    }

                }
            }
        }
    }

    .title {
        padding: 0 0 80px 0;

        h2 {
            color: #FFF;
            font-size: 46px;
            font-style: normal;
            margin: 0 0 10px 0;
            font-weight: 590;
            line-height: normal;
            @include font-medium;
            text-align: center;

            @include respond-to("md") {
                font-size: 32px;
            }
        }

        p {
            max-width: 447px;
            margin: 0 auto;
            color: #B6B6B6;
            text-align: center;
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            @include font-medium;
            line-height: 28px;
        }
    }
}