@use '../../../scss/main.scss' as *;
@use '../../../scss/breakpoints/breakpoints.scss' as *;
@use '../../../scss/font/font.scss' as *;

.createProductAlignment {
    background: #121212;
    padding: 80px 0;

    .title {
        padding: 0 0 50px 0;

        h2 {
            color: #FFF;
            font-size: 46px;
            font-style: normal;
            font-weight: 600;
            margin: 0 0 18px 0;
            text-align: center;
            line-height: normal;
            @include font-semibold;
        }

        .allIconAlignment {
            display: flex;
            align-items: center;
            gap: 14px;
            justify-content: center;

            span {
                color: #FFF;
                text-align: center;
                font-size: 22px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                @include font-medium;
                display: block;
            }
        }
    }

    .outlineBox {
        border-radius: 32px;
        border: 1px solid #FFF;
        background: #0E0E10;
        padding: 80px 40px;

        .boxCenter {
            max-width: 1020px;
            margin: 0 auto;

            .messageBox {
                padding: 20px;
                border-radius: 24px;
                border: 1px solid rgba(255, 255, 255, 0.12);
                background: rgba(18, 18, 18, 0.40);
                backdrop-filter: blur(230.10000610351562px);

                textarea {
                    border: none;
                    outline: none;
                    height: 70px;
                    font-size: 16px;
                    @include font-medium;
                    color: #fff;
                    width: 100%;
                    background-color: transparent;
                    resize: none;
                    font-weight: 500;
                }

                .chatBottomAlignment {
                    padding: 10px 0 0 0;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    .rightAlignment {
                        display: flex;
                        align-items: center;
                        gap: 8px;

                        .voice {
                            width: 46px;
                            height: 46px;
                            border-radius: 1000px;
                            border: 1px solid rgba(255, 255, 255, 0.06);
                            background: rgba(255, 255, 255, 0.08);
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            cursor: pointer;
                        }

                        button {
                            display: flex;
                            align-items: center;
                            gap: 8px;
                            border: none;
                            border-radius: 1000px;
                            background: linear-gradient(90deg, #29A6B4 0.03%, #9ED2C3 119.17%);
                            cursor: pointer;
                            padding: 10px 18px;
                            color: #FFF;
                            text-align: center;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: normal;
                            @include font-medium;
                        }
                    }

                    .leftAlignment {
                        display: flex;
                        align-items: center;
                        gap: 8px;

                        button {
                            display: flex;
                            align-items: center;
                            gap: 8px;
                            border: none;
                            border-radius: 1000px;
                            border: 1px solid rgba(255, 255, 255, 0.06);
                            background: rgba(255, 255, 255, 0.08);
                            cursor: pointer;
                            padding: 10px 18px;
                            color: #FFF;
                            text-align: center;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: normal;
                            @include font-medium;
                        }
                    }
                }

                ::placeholder {
                    font-size: 16px;
                    @include font-medium;
                    color: #8C8C8C;
                    font-weight: 500;
                }
            }

            .toggleCenter {
                padding: 40px 0;
                display: flex;
                justify-content: center;

                .buttonGroup {
                    border-radius: 1000px;
                    border: 1px solid rgba(18, 18, 18, 0.04);
                    background: rgba(148, 148, 148, 0.16);
                    backdrop-filter: blur(56px);
                    padding: 6px;

                    button {
                        padding: 12px 40px;
                        color: #FFF;
                        text-align: center;
                        font-size: 18px;
                        cursor: pointer;
                        font-style: normal;
                        font-weight: 590;
                        line-height: normal;
                        @include font-semibold;
                        background: transparent;
                        border-radius: 99px;
                        border: none;

                        &.active {
                            background: var(--3, linear-gradient(90deg, #29A6B4 0%, #9ED2C3 100%));
                        }
                    }
                }
            }

            .relativeClass {
                position: relative;
            }

            .videobox {
                max-width: 376px;
                border-radius: 20px;
                border: 14px solid rgba(255, 255, 255, 0.05);
                margin: 0 auto;
                position: relative;

                .textBox {
                    border-radius: 10px 10px 0 0;
                    background: rgba(23, 23, 24, 0.29);
                    backdrop-filter: blur(10.550000190734863px);
                    padding: 12px;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;

                    p {
                        color: #FFF;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;
                        @include font-medium;
                    }
                }

                .poster {
                    img {
                        display: block;
                        width: 100%;
                        border-radius: 10px;
                    }
                }
            }

            .subtitle {
                padding: 0 0 40px 0;

                h2 {
                    color: #FFF;
                    text-align: center;
                    font-size: 48px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                    max-width: 710px;
                    margin: 0 auto;
                    @include font-semibold;

                    span {
                        color: #05AAE5;
                    }
                }
            }
        }
    }
}