@use '../../scss/main.scss' as *;
@use '../../scss/breakpoints/breakpoints.scss' as *;
@use '../../scss/font/font.scss' as *;

.footer {
    overflow: hidden;
    background: #0E0E10;
    padding: 80px 0 0 0;
    position: relative;

    @include respond-to("sm") {
        padding: 60px 0 0 0;
    }

    .bgbottom {
        width: 100%;
        position: absolute;
        bottom: 0;
        background-size: cover;
        left: 0;
        height: 100%;
        background-repeat: no-repeat;
        background-position: center center;
        background: url('/assets/images/footer-layer1.png'), #0E0E10;

        @include respond-to("sm") {
            height: 80%;
            background-position: bottom bottom;
        }

    }

    .footerText {
        padding: 60px 0 0 0;
        position: relative;
        z-index: 9;
        top: 60px;

        @include respond-to("md") {
            padding: 20px 0 0 0;
        }

        @include respond-to("sm") {
            padding: 0 0 0 0;
        }

        h4 {
            text-align: center;
            font-size: 25rem;
            font-style: normal;
            font-weight: 400;
            line-height: 316px;
            background: linear-gradient(135deg, #47B1B7 0%, #8ACBC0 100%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-family: "Righteous", sans-serif;

            @include respond-to("md") {
                font-size: 20rem;
                line-height: 250px;
            }

            @include respond-to("sm") {
                font-size: 8rem;
                line-height: 180px;
            }
        }
    }



    .line {
        width: 100%;
        height: 1px;
        background: linear-gradient(90deg, rgba(14, 14, 16, 0.16) 0%, rgba(204, 204, 204, 0.16) 49.79%, rgba(14, 14, 16, 0.16) 100%);
    }

    .footerBottomText {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 24px;
        padding: 24px 0 0 0;
        position: relative;
        z-index: 9;

        @include respond-to("sm") {
            display: grid;
            grid-template-columns: 1fr;
            gap: 20px;
        }

        a {
            display: block;
            color: #FFF;
            font-size: 18px;
            font-style: normal;
            text-decoration: none;
            font-weight: 400;
            line-height: normal;
            @include font-normal;
            cursor: pointer;
        }
    }

    .footerTopAlignment {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 0 27px 0;
        position: relative;
        z-index: 9;
        border-bottom: 1px solid #1c1c1f;

        @include respond-to("md") {
            display: grid;
            grid-template-columns: 1fr;
            gap: 40px;
        }

        .socialIcon {
            display: flex;
            align-items: center;
            gap: 8px;

            img {
                display: block;
                cursor: pointer;
            }
        }

        .footerMenu {
            display: flex;
            align-items: center;
            gap: 40px;

            @include respond-to("sm") {
                display: grid;
                grid-template-columns: 1fr;
                gap: 30px;
            }

            a {
                display: block;
                color: #FFF;
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                @include font-normal;
                cursor: pointer;
                text-decoration: none;
            }
        }

        .footerlogo {
            p {
                color: #FFF;
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                margin: 16px 0 0 0;
                @include font-normal;
            }

            img {
                display: block;
                cursor: pointer;

                @include respond-to("sm") {
                    max-width: 120px;
                }
            }
        }
    }
}