@use '../../../scss/main.scss' as *;
@use '../../../scss/breakpoints/breakpoints.scss' as *;
@use '../../../scss/font/font.scss' as *;

.simplePricing {
    padding: 80px 0;

    .lastAlign {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    .agencySavingsHeader {
        width: 100%;
    }

    .title {
        padding: 0 0 16px 0;

        h2 {
            color: #121212;
            font-size: 46px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            margin: 0 0 18px 0;
            @include font-semibold;
            text-align: center;

            @include respond-to("md") {
                font-size: 32px;
            }
        }

        p {
            color: #7E7E7E;
            text-align: center;
            font-size: 20px;
            font-style: normal;
            font-weight: 510;
            line-height: 28px;
            @include font-medium;
            max-width: 567px;
            margin: 0 auto;

            @include respond-to("sm") {
                font-size: 16px;
                line-height: 24px;
            }
        }
    }

    .centerAlignment {
        display: flex;
        justify-content: center;

        .toggleGroup {
            border-radius: 10000px;
            border: 1px solid rgba(0, 0, 0, 0.10);
            background: #FFF;
            box-shadow: 0 0 13.6px 0 rgba(0, 0, 0, 0.08);
            padding: 12px 16px;
            display: flex;
            align-items: center;
            gap: 12px;

            @include respond-to("sm") {
                gap: 6px;
            }

            .switch {
                position: relative;
                display: inline-block;
                width: 45px;
                height: 24px;
            }

            .switch input {
                opacity: 0;
                width: 0;
                height: 0;
            }

            .slider {
                position: absolute;
                cursor: pointer;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: #ccc;
                -webkit-transition: .4s;
                transition: .4s;
            }

            .slider:before {
                position: absolute;
                content: "";
                height: 17px;
                width: 17px;
                left: 4px;
                bottom: 4px;
                background: white;
                -webkit-transition: .4s;
                transition: .4s;
            }

            input:checked+.slider {
                background: var(--3, linear-gradient(90deg, #29A6B4 0%, #9ED2C3 100%));

            }



            input:checked+.slider:before {
                -webkit-transform: translateX(20px);
                -ms-transform: translateX(20px);
                transform: translateX(20px);
            }

            /* Rounded sliders */
            .slider.round {
                border-radius: 34px;
            }

            .slider.round:before {
                border-radius: 50%;
            }

            >span {
                color: #414141;
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                @include font-normal;
                display: block;

                @include respond-to("sm") {
                    font-size: 14px;
                }
            }

            .yearlyLabel {
                display: flex;
                align-items: center;
                gap: 6px;

                @include respond-to("sm") {
                    gap: 4px;
                }

                span {
                    color: #414141;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    @include font-normal;
                    display: block;

                    @include respond-to("sm") {
                        font-size: 14px;
                    }
                }

                .saveBadge {
                    color: #29A6B4;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                    letter-spacing: -0.32px;
                    text-transform: uppercase;
                    @include font-medium;

                    @include respond-to("sm") {
                        font-size: 12px;
                    }
                }
            }
        }
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 24px;
        padding: 40px 0;

        @include respond-to("md") {
            grid-template-columns: repeat(2, 1fr);
        }

        @include respond-to("sm") {
            grid-template-columns: repeat(1, 1fr);
        }


        .griditems {
            border-radius: 24px;
            border: 4px solid rgba(224, 228, 232, 0.50);
            background: #FFF;
            backdrop-filter: blur(58px);
            padding: 24px;
            display: flex;
            flex-direction: column;
            gap: 32px;
            justify-content: space-between;
            transition: .3s ease-in-out;

            &:hover {
                border: 4px solid #39acb6;
                transform: translateY(-5px);

                .firstList {
                    .buttonDesign {
                        button {
                            color: #fff;
                            background: var(--3, linear-gradient(90deg, #29A6B4 0%, #9ED2C3 100%));
                        }
                    }
                }
            }

            &:nth-child(2) {
                border-radius: 24px;
                border: 4px solid #FFF;
                background: #121212;
                box-shadow: 0 0 27.8px 0 rgba(0, 0, 0, 0.14);

                &:hover {
                    border: 4px solid #39acb6;

                    .firstList {
                        .buttonDesign {
                            button {
                                color: #fff;
                                background: var(--3, linear-gradient(90deg, #29A6B4 0%, #9ED2C3 100%));
                            }
                        }
                    }
                }

                .firstList {
                    .textstyle {
                        padding: 30px 0;

                        h3 {
                            color: #fff;
                        }

                        p {
                            color: rgba(255, 255, 255, 0.80);
                        }

                        h4 {
                            color: #fff;

                            sub {
                                font-size: 20px;
                                position: relative;
                                left: -5px;
                                top: -8px;
                                color: rgba(255, 255, 255, 0.80);
                            }
                        }
                    }

                    .buttonDesign {
                        button {
                            color: #121212;
                            background: #fff;
                        }
                    }

                    .allListAlignment {
                        .list {
                            svg {
                                path {
                                    fill: #fff;
                                }
                            }

                            span {
                                color: rgba(255, 255, 255, 0.80);
                            }
                        }
                    }
                }

                .lastBox {
                    border-radius: 20px;
                    border: 1px solid rgba(255, 255, 255, 0.06);
                    background: rgba(255, 255, 255, 0.06);
                    box-shadow: 0 0 23.9px 0 rgba(0, 0, 0, 0.04);
                    backdrop-filter: blur(10.350000381469727px);
                    position: relative;
                    overflow: hidden;

                    &::before {
                        width: 58px;
                        height: 58px;
                        position: absolute;
                        top: 0;
                        left: 0;
                        content: '';
                        border-radius: 50%;
                        background: radial-gradient(50% 50% at 50% 50%, #FFF 0%, #04AAE3 100%);
                        filter: blur(42.70000076293945px);
                    }

                    &::after {
                        width: 58px;
                        height: 58px;
                        position: absolute;
                        bottom: 0;
                        right: 0;
                        content: '';
                        border-radius: 50%;
                        background: radial-gradient(50% 50% at 50% 50%, #FFF 0%, #E38E04 100%);
                        filter: blur(45.25px);
                    }

                    .cardheader {
                        position: relative;

                        h5 {
                            color: #fff;

                            sub {
                                color: #C7C7C7;
                            }
                        }

                        h4 {
                            color: #C7C7C7;
                        }
                    }

                    span {
                        color: #C7C7C7;
                    }

                    p {
                        color: #C7C7C7;

                        b {
                            color: #fff;
                        }
                    }
                }


            }

            .lastBox {
                padding: 24px;
                border-radius: 20px;
                border: 1px solid rgba(0, 0, 0, 0.06);
                background: linear-gradient(180deg, rgba(92, 96, 107, 0.04) 0%, rgba(32, 33, 39, 0.04) 100%);

                span {
                    display: block;
                    color: #6D6D6D;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    @include font-normal;

                }

                p {
                    color: #6D6D6D;
                    font-size: 14px;
                    font-style: normal;
                    @include font-normal;
                    font-weight: 400;
                    margin: 0 0 10px 0;
                    line-height: 20px;

                    b {
                        color: #121212;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 500;
                        @include font-medium;
                        line-height: 24px;
                    }
                }

                .cardheader {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 0 0 14px 0;
                    margin: 0 0 14px 0;
                    border-bottom: 1px solid rgba(18, 18, 18, 0.08);

                    h5 {
                        color: #121212;
                        @include font-semibold;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: normal;

                        sub {
                            color: #6D6D6D;
                            font-size: 14px;
                            font-style: normal;
                            font-weight: var(--font-weight-400, 400);
                            position: relative;
                            top: -5px;
                            line-height: normal;
                            letter-spacing: var(--letter-spacing--0_48, -0.476px);
                            @include font-normal;
                        }
                    }

                    h4 {
                        color: #6D6D6D;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                        @include font-normal;
                    }
                }
            }

            .firstList {
                img {
                    display: block;
                    width: 60px;

                    @media (max-width:576px) {
                        width: 40px;
                    }
                }

                .allListAlignment {
                    padding: 30px 0 0 0;

                    .list {
                        display: grid;
                        align-items: center;
                        grid-template-columns: 22px 1fr;
                        gap: 8px;
                        padding: 0 0 20px 0;

                        &:last-child {
                            padding: 0;
                        }

                        span {
                            color: #585861;
                            font-family: "SF Pro";
                            font-size: 14px;
                            font-style: normal;
                            font-weight: var(--font-weight-400, 400);
                            line-height: var(--line-height-22_54, 22.54px);
                            letter-spacing: var(--letter-spacing--0_48, -0.476px);
                            display: block;
                            @include font-normal;
                        }
                    }
                }

                .buttonDesign {
                    button {
                        color: var(--clikup-webflow-io-cod-gray, var(--color-grey-9, #191615));
                        text-align: center;
                        font-size: 18.1px;
                        font-style: normal;
                        font-weight: var(--font-weight-500, 500);
                        line-height: normal;
                        @include font-medium;
                        border-radius: 58.95px;
                        border: none;
                        cursor: pointer;
                        background: var(--Grays-Grey-2, #F1F2F2);
                        padding: 14px;
                        width: 100%;
                    }
                }

                .textstyle {
                    padding: 30px 0;

                    h3 {
                        color: var(--clikup-webflow-io-cod-gray, var(--color-grey-9, #191615));
                        font-size: 24px;
                        font-style: normal;
                        font-weight: 590;
                        margin: 0 0 4px 0;
                        line-height: normal;
                        @include font-semibold;
                    }

                    p {
                        color: #585861;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                        margin: 0 0 24px 0;
                        @include font-normal;
                    }

                    h4 {
                        color: var(--clikup-webflow-io-cod-gray, var(--color-grey-9, #191615));
                        font-size: 34px;
                        font-style: normal;
                        font-weight: 600;
                        @include font-semibold;
                        line-height: normal;

                        sub {
                            font-size: 20px;
                            position: relative;
                            left: -5px;
                            top: -8px;
                            color: #585861;
                        }
                    }
                }
            }
        }
    }

    .agencyIntegration {
        border-radius: 24px;
        border: 4px solid rgba(224, 228, 232, 0.50);
        background: #FFF;
        backdrop-filter: blur(58px);
        padding: 50px 24px;
        transition: .3s ease-in-out;

        &:hover {
            border: 4px solid #39acb6;
            transform: translateY(-5px);

        }

        .agencyIntegrationHeader {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 16px;
            padding: 0 0 32px 0;

            h4 {
                color: #121212;
                font-size: 32px;
                font-style: normal;
                text-align: center;
                font-weight: 700;
                line-height: normal;
                @include font-bold;
            }
        }


        .gridList {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 25px;

            .items {
                padding: 12px 16px;
                border-radius: 10000px;
                border: 1px solid #E6E6E6;
                background: #FFF;
                display: flex;
                align-items: center;
                gap: 10px;

                span {
                    display: block;
                    position: relative;
                    top: 1px;
                    color: #62626C;
                    font-size: 15.9px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: var(--line-height-22_54, 22.54px);
                    letter-spacing: var(--letter-spacing--0_48, -0.476px);
                    @include font-medium;
                }
            }
        }
    }
}